<div class="container" id="footer">
    <div class="card bordder">
        <div class="row">
            <div class="col-md-3">
                <div class="ms-4">
                    <div class="my-2">
                        <img priority="high" ngSrc="./assets/conntent-whatsapp.png" alt="" width="40" height="40">
                    </div>
                    <div class="my-2">
                        <img priority="high" ngSrc="./assets/app-store.png" alt="" width="40" height="40">
                    </div>
                    <div class="my-2">
                        <img priority="high" ngSrc="./assets/google-play.png" alt="" width="40" height="40">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="my-2">
                    <a class="text-white">About Us</a>
                </div>
                <div class="my-2">
                    <a class="text-white">Contact US</a>
                </div>
                <div class="my-2">
                    <a class="text-white">FAQ </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="my-2">
                    <a class="text-white"> My Account</a>
                </div>
                <div class="my-2">
                    <a class="text-white">My Orders</a>
                </div>
                <div class="my-2">
                    <a class="text-white">My Wishlist</a>
                </div>
                <div class="my-2">
                    <a class="text-white">Latest Offers</a>
                </div>
                <div class="my-2">
                    <a class="text-white">Feedback</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="my-2">
                    <a class="text-white">
                        Customer Service
                    </a>
                </div>
                <div class="my-2">
                    <a class="text-white">Terms & Conditions</a>
                </div>
                <div class="my-2">
                    <a class="text-white">Privacy Policy</a>
                </div>
               
                <div class="my-2">
                    <a class="text-white"> Refund Policy</a>
                </div>
                <div class="my-2">
                    <a class="text-white"> Cancellation Policy</a>
                </div>
                <div class="my-2">
                    <a class="text-white">Shipping Policy</a>
                </div>
            </div>
        </div>
        <div class="row py-3 footer-wrap">
            <div class="col-md-5 text-white">
                <div class="ms-4">
                    Copyright © 2023 Chiken Corner
                </div>
            </div>
            <div class="col-md-7">
                <!-- <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6> -->
                <div class="d-flex flex-row-reverse">


                        <img class="logo" priority="high" width="40" hight="40" ngSrc="https://cdn-icons-png.flaticon.com/128/281/281764.png" >
                    
                        <img class="logo" priority="high" width="40" hight="40" ngSrc="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" >
                    

                        <img class="logo" priority="high" width="40" hight="40" ngSrc="https://cdn-icons-png.flaticon.com/512/733/733547.png" >

                </div>
                </div>
        </div>
    </div>
</div>