<div class="row">
    <div class="col-md-9 ps-4 table-section">
                                                <div *ngIf="tableVisible">
                                                    <ngx-datatable class="bootstrap mb-4"
                                                                                 [rows]="data"
                                                                                 [columnMode]="'force'"
                                                                                 [headerHeight]="40"
                                                                                 [rowHeight]="'auto'">

                                                        <ngx-datatable-column name="#" [width]=40>
                                                            <ng-template ngx-datatable-cell-template let-row let-rowIndex="rowIndex">
                                                                <div class="text-center fw-bold">{{ rowIndex + 1 }}</div>
                                                            </ng-template>
                                                        </ngx-datatable-column>

                                                        <ngx-datatable-column name="Image" [width]=60>
                                                            <ng-template ngx-datatable-cell-template let-row="row">
                                                                    <img class="img-thumbnail" [src]="getImage(row)" [alt]="row.productName" onerror="this.src='/assets/images/placeholder.jpg'" />
                                                            </ng-template>
                                                        </ngx-datatable-column>

                                                        <ngx-datatable-column name="Product" prop="productName"></ngx-datatable-column>

                                                        <ngx-datatable-column name="Category" prop="category" [width]=80></ngx-datatable-column>

                                                        <ngx-datatable-column name="Price" [width]=80>
                                                            <ng-template ngx-datatable-cell-template let-row="row">
                                                                {{ formatPrice(row.price) }}
                                                            </ng-template>
                                                        </ngx-datatable-column>

                                                        <ngx-datatable-column name="Added Date" [width]=100>
                                                            <ng-template ngx-datatable-cell-template let-row="row">
                                                                <div class="date-added"><span class="date-text">{{ formatDate(row.addedDate) }}</span></div>
                                                            </ng-template>
                                                        </ngx-datatable-column>

                                                        <ngx-datatable-column name="Delete" [width]=60>
                                                            <ng-template ngx-datatable-cell-template let-row="row">
                                                                <div class="delete-icon" (click)="removeFromWishList(row.id)" title="Remove from wishlist">
                                                                    <i class="bi bi-trash"></i>
                                                                </div>
                                                            </ng-template>
                                                        </ngx-datatable-column>

                                                    </ngx-datatable>
                                                </div>


    </div>

    <div class="col-md-3 px-4 ">
        <div class="card card-title ">
            <div class="card-header bg-white">
                <span class="">Price Details</span>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-8">
                        <div>
                            Total Price:
                        </div>
                        <div>
                            Discount:
                        </div>
                        <div>
                            Delivery charges:
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div>
                            £{{totalAmount}}
                        </div>
                        <div>
                            £{{discount}}
                        </div>
                        <div>
                            £{{deliveryCharges}}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-8">
                        Total Amount
                    </div>
                    <div class="col-4 text-end">
                        £{{finalAmount}}
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white p-0">
                <button type="button" class="btn btn-gradient-orange w-100" routerLink="/cart"
                    routerLinkActive="active">MOVE TO CART</button>
            </div>
        </div>
    </div>

</div>

<div *ngIf="!(this.data && this.data.length > 0)" class="text-center mt-2">
    <h4>
        !!!Oops Nothing in your Wishlist
    </h4>
    <p class="text-muted">Start adding items to your wishlist to see them here!</p>
</div>


 <!-- <form [formGroup]="form">
    <div formArrayName="items">
      <div *ngFor="let item of form.get('items')?.controls; let i = index" class="card">
        <div [formGroupName]="i">
          <span>{{ item.value.name }}</span>
          <img src="assets/{{ item.value.favorite ? 'fav.svg' : 'fav_red.png' }}" (click)="toggleFavorite(i)" width="20px">


        </div>
      </div>
    </div>
  </form> -->

