.imgd{
    height: 66px;
    width: 60.52px;
    justify-content: center;
    padding-left: 2%;
  }
  .imgdiv{
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  img {
    max-width: 100%;
  }
  
  

